
 <%= form_tag("/search", method: "get") do %>
  
  <li>
  <%= label_tag(:q, "tweeter handle:") %>
  <%= text_field_tag(:q) %>
  Number of tweet<%= number_field_tag('quantity', nil, min: 1, max: 1000 )%>
  </li>
  <%= submit_tag("Search") %>
	<% end %>
