<%= form_tag("/savedata", method: "get") do %>
<% @data.each do |option| %>
  <li>
  <%= check_box_tag "tweet_ids[]", option[0] %>
  <%= label_tag( "#{option[1]}") %></li>
  <%= hidden_field( "comment",@source_name ) %>
<% end %>
<%= submit_tag("savedata") %>
<% end %>

